@import 'slider.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif; 
    margin: 0;
    padding: 0;
}

h1,h2,h3,button {
    font-family: 'Quattrocento Sans', sans-serif;
}

button {
    font-size: 14px;
}

.container {
    position: relative;
    width: 100%;
    padding: 0 20px;
}

.basic_text {
    font-size: calc(12px + (4 + 4 * 0.7) * ((100vw - 320px) / 1140));
    line-height: 1.5;
    font-weight: 400;
    color: #8d8f92;
}

.header {
    position: sticky;
    top: 0;
    background-color: #1d2126;
    min-height: 80px;
    z-index: 20;
}

.header_row{
    height: 80px;
}

.menu_wrap {
    height: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.menu > li {
    list-style: none;
    margin-right: 6px;
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 3px;
}

.menu > li:hover {
    border: 2px solid #5a6068;
    border-radius: 3px;
    cursor: pointer;
}
 
.menu > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #a4aead;
}

.logo_block {
    height: 100%;
    padding-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form_search {
    margin: 25px -15px 0;
    position: relative;
    height: 30px;
    border-width: 2px;
    border-style: solid;
    border-color: #3c4147;
    border-radius: 3px;
    padding: 4px;
}

.form_search input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5%;
    background-color: transparent;
}

.form_search input:focus {
    outline: none;
}

.form_search input[type*="text"] {
    max-width: 100%;
    width: auto;
    color: #a4aead;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    color: #a4aead;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

::-moz-placeholder {
    color: #a4aead;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    color: #a4aead;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

:-moz-placeholder {
    color: #a4aead;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.search-btn {
    position: absolute;
    top: 4px;
    right: 5px;
    background-image: url(../image/icons/search_glass.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    
}

.mobile-menu-block {
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.nav-mobile-menu {
    width: 15px;
    height: 15px;
    position: relative;
}

.nav-mobile-menu span {
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    transition: 0.25ms ease-in-out;
}

.nav-mobile-menu span:first-child {
    top: 3px;
}

.nav-mobile-menu span:nth-child(2) {
    top: 7px;
}

.nav-mobile-menu span:last-child {
    bottom: 3px;
}

.nav-mobile-menu.active-menu span:first-child {
    top: 50%;
    transform: rotate(45deg);
}

.nav-mobile-menu.active-menu span:nth-child(2) {
    top: 50%;
    transform: rotate(-45deg);
}

.nav-mobile-menu.active-menu span:last-child {
    transform: scale(0);
}

.navigation {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 280px;
    max-width: 280px;
    transform: translateX(150%);
    transition: all  500ms ease-in-out;
}
.navigation.active-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    top: 50px;
    background-color: rgba(255,255,255,0.5);
    z-index: 100;
}

.home {
    position: relative;
    height: 100%;
}

.home_info_box {
    position: absolute;
    bottom: 300px;
    left: 15px;
    width: calc(100% - 30px);
}

.header_title{
    margin: 0;
    font-size: calc(18px + (18 + 18 * 0.7) * ((100vw - 320px) / 1140));
    font-weight: 700;
    line-height: calc(42px + (30 + 30 * 0.7) * ((100vw - 320px) / 1140));
    text-align: left;
    text-transform: uppercase;
    color: #fff;
}

.header_text {
    margin-top: 19px;
    margin-bottom: 0;
    text-align: left;
    color: #ccd0d7;
}

.position_btn_left {
    margin-top: 25px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.position_btn_center {
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green_btn {
    height: 45px;
    width: 125px;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #d1d0d5;
    border-radius: 6px;
    color: #d1d0d5;
}

.green_btn:hover {
    background-color: #39a493;
    border: none;
    color: white;
}

.about, .work, .team, .services, .features, .contact {
    padding-top: 40px;
}

.about, .team {
    padding-bottom: 60px;
}
.work, .features, .services  {
    padding-bottom: 60px;
}

.about {
    border-bottom: 2px solid #dee1e5;
}

.contact {
    position: relative;
}

.subheader_title {
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;
    font-size: calc(18px + (18 + 18 * 0.7) * ((100vw - 320px) / 1140));
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.subheader_title::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -20px;
    width: 5px;
    height: 24px;
    background-color: #e1e6ea;
}

.about_text {
    margin-bottom: 20px;
    text-align: left;
}

.about_descr {
    position: relative;
    margin-left: 67px;
    margin-bottom: 20px;
}

.square_block {
    position: absolute;
    top: 0;
    left: -67px;
    z-index: 5;
    width: 40px;
    height: 40px;
    background-color: #39a493;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 700;
}

.about_title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.social_link_block {
    display: flex;
    margin: 30px 0;
    justify-content: center;
}

.social_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 1px;
    background-color: #c8cdd0;
    cursor: pointer;
}

.social_link a {
    height: 100%;
    width: 100%;
}

.social_link > a > img{
    height: 100%;
    width: 100%;
}

.team_item {
    margin-bottom: 10px;
    position: relative;
}


.team_item img {
    display: block;
    width: 100%;
}
.team_item_descr {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    height: 60px;
    background-color: #e1e5e9b7;
}

.team_title {
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #292f36;
}

.team_text {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #8d8f92;
} 

.team_item_shadow {
    position: absolute;
    top: 0;
    left: 0;
}

.team_item_clone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.1s all;
}

.team_item_clone:hover {
    opacity: 1;
}

.team_item_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.5);
    height: calc(100% - 60px)
}
[class*='block_link_way'] {
    background-color: #39454d;
    width: 50px;
    height: 50px;
    margin-right: 1px;
}
.block_link_way_twitter {
    background-image: url(../image/icons/twitter.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.block_link_way_facebook {
    background-image: url(../image/icons/facebook.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
.block_link_way_linkedIn {
    background-image: url(../image/icons/be.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.link_way {
    display: block;
    width: 100%;
    height: 100%;
}

.team_item_descr_clone {
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding-top: 15px;
    padding-left: 15px;
    width: 100%;
    height: 60px;
    background-color: #39454d; 
}
.team_title_clone {
    margin: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.work {
    background-color: #39454d;
}

.color_white {
    color: #fff;
}

.portfolio {
    position: relative;
    margin-top: 10px;
}

.portfolio_image {
    width: 100%;
}

.portfolio_clone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.portfolio_clone:hover {
    opacity: 1;
}

.portfolio_clone_bg {
    position: relative;
    background-color: rgba(0,0,0,0.6);
    background-image: url(../image/icons/plus.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100% - 60px);
}

.portfolio_text {
    position: absolute;
    bottom: 0;
    display: block;
    height: 60px;
    width: 100%;
    padding: 22px 20px;
    background-color: #292f35;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.block_btn_center {
    display: block;
}

.services_item {
    margin-bottom: 25px;
}

.services_title_margin {
    margin-bottom: 0;
}

.services_image {
    display: block;
    margin: 0 auto;
}

.services_title {
    margin: 25px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: calc(14px + (3 + 3 * 0.7) * ((100vw - 320px) / 1140));
    font-weight: 700;
}

.services_text {
    text-align: center;
    color: #8d8f92;
}

.features {
    background-color: #39454d;
}

.features_item {
    margin-bottom: 25px;
}

.features_img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
}

.features_text {
    margin: 25px 0 15px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: calc(14px + (3 + 3 * 0.7) * ((100vw - 320px) / 1140));
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.text_info {
    text-align: center; 
    color: #dcdfe1;
}

.contact {
    min-height: 600px;
}

.contact_info_block {
    padding: 60px 0 0;
}

.contact_info {
    margin-bottom: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #292f36;
    text-transform: uppercase;
}


.modal {
    position: relative;
    margin-top: 25px;
    height: 450px;
}

.modal_block {
    padding: 20px 15px 25px;
    border: 1px solid #dcdfe1;
    width: 100%;
    background-color: #fff;
}

.form_contacts {
    width: 100%;
    display: grid;
    grid-template-rows: 45px 45px 120px 45px;
    grid-template-columns: 100%;
    gap: 35px;
}

.form_text {
    position: relative;
}

.form_text label {
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #8d8f92;
}

.form_text input {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5a6068;
    border: none;
    border-radius: 2px;
    background-color: #eaeef1;
}

.form_text input:focus {
    outline: none;
}

.form_textarea {
    position: relative;
}

.form_textarea label {
    display: block;
    position: absolute;
    top: 0;
    left: 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: #8d8f92;
}

.form_textarea textarea {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #5a6068;
    border: none;
    border-radius: 2px;
    background-color: #eaeef1;
    resize: none;
}

.form_textarea textarea:focus {
    outline: none;
}

.form-fields_title {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #5a6068;
    text-transform: uppercase;
}
.form_contacts .green_btn {
    width: 125px;
    background-color: #39a493;
    border: none;
    color: #fff;
}

.form_contacts .green_btn:hover {
    background-color: #fff;
    border: 2px solid #39a493;
    color: #39a493;
}
.footer {
    padding: 15px;
    min-height: 60px;
    background-color: #39454d;
}

.footer_info_text {
    text-align: center;
    font-size: 10px;
    line-height: 20px;
    color: #ffffff;
    font-weight: 400;
}
.footer_link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_link > a >img {
    width: 30px;
    height: 30px;
}

@media (min-width:370px) {
    .container {
        padding: 0 15%;
    }
}
@media (min-width:470px) {
    .container {
        padding: 0 20%;
    }
}

@media (min-width:576px) {
    .container {
        padding: 0 15px;
    }
    .contact {
        padding: 40px 0;
    }
    .modal {
        height: 100%;
    }
    .modal_block {
        position: absolute;
        top: -80px;
    }
}
@media (min-width:768px) {
    .home_info_box {
        width: 80%;
    }
    .basic_text {
        font-size: calc(12px + 4 * (100vw / 1140));
        color: #8d8f92;
    }
    .header_title{
        font-size: calc(18px + 18 * (100vw / 1140));
    }
    .social_link_block {
        display: flex;
        margin: 30px 0;
        justify-content: left;
    }
    .modal_block {
        position: absolute;
        top: -110px;
    }
    .footer_info_text {
        text-align: left;
        font-size: 12px;
        line-height: 32px;
    }
    .footer_link {
        display: flex;
        justify-content: flex-end;
    }
    .footer {
        padding: 20px;
        min-height: 70px;
    }
}
@media (min-width:992px) {
    .container {
        width: 960px;
    }
    .home_info_box {
        width: 70%;
    }
    .modal_block {
        padding: 30px;
        top: -130px;
    }
    .form_contacts {
        width: 100%;
        display: grid;
        grid-template-rows: 45px 160px 45px;
        grid-template-columns: 190px 190px;
        row-gap: 35px;
        column-gap: 10px;
    }
    .form_contacts .form_textarea {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .contact .contact_info_block {
        padding: 40px 0 80px;
    }
    .footer .footer_info_text {
        font-size: 14px;
        line-height: 36px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1140px;
    }
    .home_info_box {
        position: absolute;
        bottom: 225px;
        left: 0;
        width: 655px;
    }
    .about, .work, .team, .services, .features {
        padding-top: 80px;
    }
    
    .about, .team {
        padding-bottom: 100px;
    }
    .work {
        padding-bottom: 160px;
    }
    
    .about {
        border-bottom: 2px solid #dee1e5;
    }
    
    .features {
        padding-bottom: 90px;
    }
    
    .services {
        padding-bottom: 70px;
    }
    .contact {
        position: relative;
        padding-top: 60px;
    }
    .subheader_title {
        margin-bottom: 60px;
    }
    .subheader_title_mb90 {
        margin-bottom: 90;
    }
    .subheader_title::before {
        top: -2px;
        width: 10px;
        height: 37px;
    }
    .square_block {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 20px;
    }
    .social_link {
        width: 60px;
        height: 60px;
    }
    .social_link_block {
        justify-content: flex-start;
    }
    .team_item {
        margin: 0;
    }
    .services_item {
        padding-bottom: 95px;
    }
    .contact_info_block {
        padding: 60px 0 102px;
    }
    .modal_block {
        position: absolute;
        top: -150px;
    }
    .form_contacts {
        padding: 30px;
        width: 100%;
        display: grid;
        grid-template: 45px 160px 45px / 240px 240px;
        column-gap: 15px;
        row-gap: 50px;
    }
    .footer {
        padding: 40px 0 37px;
        min-height: 96px;
        background-color: #39454d;
    }
}
